body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 850px;
    margin-top:500px;
}

.login-box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
   

}

.login-box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    height: 800px;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 11px;
    color: #999;
}

.form-input {
    padding-left: 35px; /* Ajuste conforme necessário para dar espaço ao ícone */
}

.login-box h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    display: flex; /* Use flexbox to center the title and icon */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
}

.input-group label {
    display: block;
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}
.conecta-papem {
    font-size: 18px; /* Adjust the size as needed */
    text-align: center; /* Center the text */
    color: #FFF; /* Change the color as needed */
    margin: 0; /* Remove default margins */
    padding: 10px 0; /* Add some padding at top and bottom */
}
#topo {
    height: 120px; /* Defina a altura fixa desejada para o cabeçalho */
}

.header-logo-area img {
    max-height: 100px; /* Defina a altura máxima desejada para o brasão */
}


.form-input {
    width: 100%;;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Added for correct box sizing */
}

.input-group mb-4 {
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    background: #2175d9;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #1e69d2;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.text-gray-700 {
    color: #333;
}

.text-2xl {
    font-size: 20px;
}

.text-blue-500 {
    color: #2175d9;
}

.bg-white {
    background-color: #fff;
}

.rounded-lg {
    border-radius: 8px;
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.p-8 {
    padding: 32px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
